body{
    background-color: #12181ff5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    padding-bottom: 1%;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #198754;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #198754;
    outline: none;
    box-shadow: 0 0 8px rgba(25, 135, 84, 0.3);
}
.Textcategoria{
    color:#198754;
    font-weight: bold;
}

h4.categoria-registros {
    color: gray;
}


.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.3);
    padding: 10px;
    border-radius: 10px;
    background-color: #242526;
}

.pagination{
    margin-top: 5px;
}

.button, .form-control, .dropdown-item {
    transition: all 0.2s ease-in-out;
}

.button:hover, .form-control:focus, .dropdown-item:hover {
    transform: scale(1.01);
}


.table {
    background-color: #242526;
    border-radius: 10px;
    overflow: hidden;
}

.btn {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.btn:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.multi-column-dropdown {
    column-count: 1;
    column-gap: 2rem;
}

.dropdown-item.custom-dropdown-item {
    font-size: 0.85rem; 
    text-transform: capitalize;
    text-wrap: inherit;
}


*{
    color: #fff;
    font-size: 14px;
}

.total-sum-container{
    text-align: end;
    font-size: medium;
    padding-bottom: 2%;
    font-weight: bold;
}

#Update{
    display: none;
}

.titles {
    text-align: center;
    color: #fff;
}

#searchInput{
    display: flex;
    text-align: left;
    color: black;
}

#total{
    display: none;
}

.nav-link{
    color: crimson;
}

.border {
    border-width: 2px !important;
}


.dropdown{
    margin: 2px;
}

.table th, .table td {
    text-align: center; 
    vertical-align: middle; 
}

.custom-dropdown-button {
    background-color: #6c757d;
    border: none; 
    border-radius: 5px; 
    
    transition: background-color 0.3s ease; 
    color: #fff;
}

.custom-dropdown-button:hover {
    background-color: #198754; 
}

.custom-dropdown-item {
    transition: background-color 0.3s ease; 
    color: #fff;
}

.custom-dropdown-item:hover {
    background-color: #198754; 
    color: #fff; 
}

.dropdown-menu {
    background-color: #343a40; 
    border-radius: 5px; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}

.toast-container {
    z-index: 1100;
  }
  
  #liveToast {
    background-color: #343a40;
    border-radius: 10px;
    box-shadow: 0 4px 6px rgba(0,0,0,0.3);
  }
  
  #liveToast .toast-header {
    background-color: #2c3136;
    border-bottom: 1px solid #495057;
    color: #f8f9fa;
  }
  
  #liveToast .toast-header strong {
    color: #e9ecef;
  }
  
  #liveToast .toast-header small {
    color: #adb5bd;
  }
  
  #liveToast .btn-close {
    font-size: 0.875rem;
    filter: invert(1) grayscale(100%) brightness(200%);
  }
  
  #liveToast .toast-body {
    color: #f8f9fa;
    padding: 12px;
  }

  .toast.success {
    background-color: #d4edda;
    border-color: #c3e6cb;
    color: #155724;
}

.toast.danger {
    background-color: #f8d7da;
    border-color: #f5c6cb;
    color: #721c24;
}

.toast.info {
    background-color: #d1ecf1;
    border-color: #bee5eb;
    color: #0c5460;
}

.toast.success .toast-header {
    background-color: #c3e6cb;
    color: #155724;
}

.toast.danger .toast-header {
    background-color: #f5c6cb;
    color: #721c24;
}

.toast.info .toast-header {
    background-color: #bee5eb;
    color: #0c5460;
}