body{
    background-color: #12181ff5;
    display: flex;
    flex-direction: column;
    min-height: 100vh;
    margin: 0;
}

footer {
    padding-bottom: 1%;
    text-align: center;
}

.form-group {
    margin-bottom: 1rem;
}

.form-control {
    padding: 0.75rem;
    border-radius: 5px;
    border: 1px solid #4caf50;
    transition: border-color 0.3s ease;
}

.form-control:focus {
    border-color: #198754;
    outline: none;
    box-shadow: 0 0 8px rgba(25, 135, 84, 0.3);
}

.container {
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.2);
    padding: 20px;
    border-radius: 10px;
    background-color: #2c2e33;
}

.pagination{
    margin-top: 5px;
}

.button, .form-control, .dropdown-item {
    transition: all 0.3s ease-in-out;
}

.button:hover, .form-control:focus, .dropdown-item:hover {
    transform: scale(1.05);
}


.table {
    background-color: #2c2e33;
    border-radius: 10px;
    overflow: hidden;
}

.btn {
    box-shadow: 0 4px 6px rgba(0, 0, 0, 0.1);
    transition: box-shadow 0.3s ease;
}

.btn:hover {
    box-shadow: 0 8px 12px rgba(0, 0, 0, 0.2);
}


.multi-column-dropdown {
    column-count: 1;
    column-gap: 2rem;
}

.dropdown-item.custom-dropdown-item {
    font-size: 0.85rem; 
    text-transform: capitalize;
    text-wrap: inherit;
}


*{
    color: #fff;
    font-size: 14px;
}

.total-sum-container{
    text-align: end;
    font-size: medium;
    padding-bottom: 2%;
    font-weight: bold;
}

#Update{
    display: none;
}

.titles {
    text-align: center;
    color: #fff;
}

#searchInput{
    display: flex;
    text-align: left;
    color: black;
}

#total{
    display: none;
}

.nav-link{
    color: crimson;
}

.border {
    border-width: 2px !important;
}


.dropdown{
    margin: 2px;
}

.table th, .table td {
    text-align: center; 
    vertical-align: middle; 
}

.custom-dropdown-button {
    background-color: #6c757d;
    border: none; 
    border-radius: 5px; 
    
    transition: background-color 0.3s ease; 
    color: #fff;
}

.custom-dropdown-button:hover {
    background-color: #198754; 
}

.custom-dropdown-item {
    transition: background-color 0.3s ease; 
    color: #fff;
}

.custom-dropdown-item:hover {
    background-color: #f8f9fa; 
    color: #343a40; 
}

.dropdown-menu {
    background-color: #343a40; 
    border-radius: 5px; 
    border: none; 
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1); 
}